<h1 class="title-form">Chat</h1>
<form class="form">
    <input type="email" placeholder="Email" id="email" required />
    <input type="text" placeholder="Mensaje" id="mensaje" required />
    <button type="button" onclick="enviar()">Enviar</button>
</form>
<div id="chat" class="form"></div>
